<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><% if (locals.title) { %><%= title %> - <% } %>Match Audio</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (locals.items) { var item = items[0] %>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@MatchAudio">
  <meta name="twitter:title" property="og:title" content="<%= item.name + " by " + item.artist.name %>">
  <meta name="twitter:description" property="og:description" content="We've matched this music on Rdio, Spotify, Deezer, Beats Music, Google Music and iTunes so you can open it in the service you use." />
  <meta name="twitter:image" property="og:image" content="<%= item.artwork %>" />
  <meta property="og:url" content="<%= thisUrl %>" /> 
  <% } %>
  <link rel="shortcut icon" href="/images/favicon.png">
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="<%= page %>">
<div class="page-wrap">
