<% include header.ejs %>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1><a href="/">match<span class="audio-lighten">.audio</span></a></h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Matched albums for</h3>
        <h2><%= items[0].name %> <span class="artist-lighten">- <%= items[0].artist.name %></span></h2>
      </div>
    </div>
    <div class="row">
    <% for (var i=0;i < items.length;i++) { var track = items[i]; %>
      <div class="col-md-3 col-xs-6">
        <div class="service <%= i==0 ? "source-service" : "" %>">
          <div class="matching-from"><%= i==0 ? "Found matches using this link" : "" %></div>
          <% if (track.streamUrl) { %>
          <a href="<%= track.streamUrl %>"><img src="<%= track.artwork %>" class="img-rounded album-artwork" width="100%"></a>
          <div class="service-link">
            <a href="<%= track.streamUrl %>"><img src="/images/<%= track.service %>.png" class="img-rounded"></a>
          </div>
          <% } else if (track.purchaseUrl) { %>
          <a href="<%= track.purchaseUrl %>"><img src="<%= track.artwork %>" class="img-rounded album-artwork" width="100%"></a>
          <div class="service-link">
            <a href="<%= track.purchaseUrl %>"><img src="/images/<%= track.service %>.png" class="img-rounded"></a>
          </div>
          <% } else { %>
          <img src="<%= items[0].artwork %>" class="img-rounded album-artwork not-found" width="100%"></a>
          <div class="service-link">
            <img src="/images/<%= track.service %>.png" class="img-rounded not-found">
          </div>
          <% } %>
        </div>
      </div><% if((i+1)%4 == 0) { %></div><div class="row"><% } %>
    <% } %>
    </div>
    <div class="row share">

    </div>
  </div>
<% include footer.ejs %>
